/*Registration Page Header*/

.register-header{
	padding-top: 25PX; 
	border-bottom: 1px solid grey;
}
.img-wrap{
	border-right: 1px solid gainsboro;
}
.img-reg{
	width: 100%;
}
.text-wrap{
	padding: 25px 25px;
	font-family: QuickSand;
}
.reg-title{
	font-weight: 900;
	text-align: left;
	font-size: 1.5em;
	color: black;
}
.text-red{
	color: red;
}
.sub-title{
	color: grey;
	font-size: 0.8em;
}


/*Registration Form*/
.form-reg-personal{
	padding-top: 35px;
}
.form-title{
	font-size: 1.5em;
	font-weight: 900;
	padding-bottom: 25px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}