    
    <section class="login-bg"> 
    <div class="login-container">
      <img src="../assets/img/logo_red.png" class="img-login">
      <form class="login-form">
        <div class="input-group">
          <span class="input-group-addon" id="username"><i class="fa fa-user" aria-hidden="true"> </i></span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="username">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="password"><i class="fa fa-key" aria-hidden="true"></i></span>
          <input type="password" class="form-control" placeholder="Password" aria-describedby="password">
        </div>
        <div class="form-group last">
            <div class="col-md-6 forgot-form">
                <a href="#">Forgot Password?</a>
            </div>
            <div class="col-md-6 button-form">
                <button type="submit" class="btn btn-danger btn-sm">Sign in &emsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
        </div>
      </form>
    </div>
    </section>