<div class="row" style="margin-right: 0px;  margin-left: 0px; padding-top: 75px">
    <!-- Sidebar Links-->
    <div class=" sidebar-dash">
            <a [routerLink]="['lead']"><div class="fa-side">
                <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i><br>
                <p class="sidebar-text">New Lead</p>
            </div></a>
            <a><div class="fa-side">
                <i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i><br>
                <p class="sidebar-text">Lead List</p>
            </div></a>
            <a><div class="fa-side">
                <i class="fa fa-phone fa-2x" aria-hidden="true"></i><br>
                <p class="sidebar-text">Call Now</p>
            </div></a>
            <a><div class="fa-side">
                <i class="fa fa-search fa-2x " aria-hidden="true"></i><br>
                <p class="sidebar-text">Search</p>
            </div></a>
            <a><div class="fa-side">
                <i class="fa fa-university fa-2x " aria-hidden="true"></i><br>
                <p class="sidebar-text">University</p>
            </div></a>
            <a><div class="fa-side">
                <i class="fa fa-cubes fa-2x " aria-hidden="true"></i><br>
                <p class="sidebar-text">Course</p>
            </div></a>
            <a><div class="fa-side-last">
                <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br>
                <p class="sidebar-text">Info</p>
            </div></a>
    </div>
</div>