/*Login Page*/
.login-bg{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    background-image: -webkit-radial-gradient(white,#d9d9d9);
    background-image: radial-gradient(white,#d9d9d9);
    background-size: cover;
}

.login-container{
    width: 350px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-login{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -160%);
}
.input-group{
    padding-bottom: 10px;
}
.forgot-form{
    color: grey;
    padding: 6px 0px;
    font-size: 0.8em
}
.button-form{
    text-align: right;
    padding-right: 0px;
}

body{
    padding-top: 0px;
}   